table{
    width:90%;
    margin-left: auto;
    margin-right: auto;
}

tr,td{
    padding:10px;
   background-color:white;
    color:black;
}

th{
    background-color:white;
    color:black;
    padding:10px;
}
body{
background: url(../../images/bg.jpg);
background-position:center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-color: #464646;
}